.header h1 {
	margin: 10px 0 0 15px;
	text-shadow: 0px 0px 5px #91ff00a6;
}

.header ul {
	padding-top: 30px;
}

.header li{
	display: inline;
	margin: 0px 20px;
	font-size: 19px;
  }

.header a:hover {
	color: #91ff00a6;
	text-decoration: none;
}

.header a {
	color: #64a50ea6;
	text-shadow: 0.5px 0.5px 0px #91ff00a6;
}